.container {
    width: 550px;
    height: 700px;
    position: relative;
    overflow: hidden;
}
.container > img{
    width: 100%;
    height: 100%;
    transition: all 1s ;
}
.caption{
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    display: flex;
 flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: all 0.8s;
    background: rgba(0, 0, 0, 0);
}
.caption img{
    cursor: pointer;
    display: block;
}
.container:hover .caption{
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}
